@page "/not-found"

@inherits CoreComponent

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="main HRuleA ImageRoundDefault ImageRadiusBackgroundDefault pad_bottom_60">
    <div class="container">

        <p class="pt-4 text_center pad_bottom_40">Page Not Found</p>

        <div class="ButtonDefaultContainer">
            <p>
                <NavLink href="/" class="BasicButton">Home</NavLink>
            </p>
        </div>

        <div class="photo text_center">
            <img class="img_circle max_width_200" src="@this.NotFoundImage" />
        </div>

    </div>
</div>

<div class="page-top">
    <NavLink href="not-found" class="top"></NavLink>
</div>
