
.RenderModeSwitch
{
    position: fixed;
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
    right: 0;
    top: 108px;
    border-radius: 20px 0 0 20px;
    min-width: 140px;
    background-color: #0e3f6f;
    border: 1px solid #0e3f6f;
    color: #FFF;
    z-index: 100;
}
